{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Project</h1>

    <ul>
        {% for project in projects %}
            <li>{{ project.name }} <a href="{{ path('app_login') }}">Open</a> </li>
        {% endfor %}
    </ul>

    <button type="button" class="btn btn-info">
        <a href="{{ path('create_project') }}">Create new Project</a>
    </button>
</div>
{% endblock %}
